*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.booklist table {
  border: 1px solid gray;
}

table th {
  background-color: rgb(32, 32, 32);
  color: rgb(226, 226, 226);
}

td {
  padding: 2rem 2rem;
}
